<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Festival Chaco Jovent</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
  <header>
    <img class="img-fluid" src="/src/assets/img/banner-resistencia.png" alt="">
  </header>

  <div class="retirar-container">
    <h2 class="text-center mt-5 mb-4 mb-md-2 fw-bold h2-aceptada">Tu solicitud fue Aceptada!</h2>
    <p class="text-center my-4">Hemos enviado un codigo a tu correo</p>
    <div class="p-4 w-100 retirar">
      <p class="text-center">Pasá a retirar tu entrada en el Parque del Encuentro si sacaste para <span class="fw-bold">Sáenz Peña</span> o en el Parque de la Democracia si sacaste para <span class="fw-bold">Resistencia</span>, los días lunes 01/11 o martes 02/11 de 8 a 12 hs. y de 16 a 20 hs. con el código que se te asignó y tu DNI. Solo se entregará el ticket a el o la titular de la gestión, en el día y horario estipulado.</p>
    </div>
    <div class="text-center my-5">
      <a href="../index.html" class="color-button reservar-button p-2">VOLVER AL INICIO</a>
    </div>
  </div>

  <footer class="footer-main">
    <div class="container">
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center justify-content-md-around">
        <div class="my-2">
          <img class="img-footer img-center" src="/src/assets/img/CHACO JOVEN en blanco.png" alt="">
        </div>
        <div class="my-2">
          <img class="img-footer" src="/src/assets/img/NBCH.png" alt="">
        </div>
        <div class="my-2">
          <img class="img-footer" src="/src/assets/img/LOTERIA.png" alt="">
        </div>
        <div class="my-2">
          <img class="img-footer" src="/src/assets/img/ECOM.png" alt="">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>