
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


p{
    margin-bottom: 0%;
}
a{
    text-decoration: none;
}
header{
    background-color: #14081F;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
div{
    font-family: 'Montserrat', sans-serif;
}
.body{
    background-color: #E6E6E6;
    height: 700px;
}
.row-1-main, .row-3-main{
    height: 30%;
}
.row-2-main{
    height: 40%;
} 

.button-reserv{
    width: 80%;
    height: 70%;
    background-color: #11103C;
    border: 4px solid #00B2EB;
}

.button-reserv:hover{
    transform: translateY(-10px);
}

.text-button-1{
    height: 35%;
    color: #00B2EB;
    
    font-weight: bold;
}
.text-button-2{
    height: 30%;
    color: white;
    
}
.text-button-3{
    height: 35%;
    color: #FF5BAB;
    
}
.footer-main{
    background-color: #151038;
    height: 200px;
    
}

.cupos-agotados{
    color: #FF5BAB;
    
}
.texto{
    font-size: 25px;
    
}
.boton{
    background-color: #00B2EB;
    color: #11103C;
    font-weight: bold;
    border-radius: 2px;
}