@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


p{
    margin-bottom: 0%;
}
a{
    text-decoration: none;
}
header{
    background-color: #14081F;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E6E6E6;
}

.main-cointainer, .retirar-container {
    height: 500px;
}

.card-blue {
    background-color: #11103C;
}

div{
    font-family: 'Montserrat', sans-serif;
}

.text-button-1{
    height: 35%;
    color: #00B2EB;

    font-weight: bold;
}
.text-button-2{
    height: 30%;
    color: white;

}
.text-button-3{
    height: 35%;
    color: #FF5BAB;

}

.reservar-button {
    background-color: #00B2EB;
    color: #11103C;
    border-radius: 5px;
}
.reservar-button:hover {
    background-color: #04a4da;
}

.reservar-button a {
    color: #11103C;
}

.footer-main{
    background-color: #151038;
    width: 100%;
}

.img-footer {
    height: 4rem;
    width: auto;
}

.cupos-agotados{
    color: #FF5BAB;

}
.texto{
    font-size: 25px;

}
.boton{
    background-color: #38DAFF;
    color: #11103C;
    font-weight: bold;
    border-radius: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.btn-submit {
    background-color: #38DAFF;
}

.form-height {
    height: 500px;
}

.h2-aceptada {
    color: #FF5BAB;
}

.retirar {
    background-color: #fccb37;
}

@media only screen and (max-width: 768px) {
    .img-footer {
        height: 3rem;
        width: auto;
    }
}